<!DOCTYPE html>
<html lang="en">
<head>
    <title>MY APP</title>
    <meta charset="UTF-12">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/responsive.css">
</head>
<body>
    <h1> Test node voalohany </h1>
    <a href="/add" class="btn btn-sm btn-primary">Add Article</a> <br>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit" class="btn btn-sm btn-danger">Submit</button>
    </form>    
</body>
</html>